waterwise/.kotlin/
waterwise/.idea/copilotDiffState.xml
waterwise/.idea/copilot.data.migration.agent.xml
waterwise/.idea/copilot.data.migration.edit.xml
waterwise/.idea/misc.xml
/.idea
/waterwise/.idea
/waterwise/.idea
/waterwise/caches
/waterwise/android
/waterwise/daemon
/waterwise/native
/waterwise/wrapper
local.propertieslocal.properties
/waterwise/kotlin-profile
/waterwise/.idea
*.md
